


.trc_rbox_container a {
    font: normal 16px "Product Sans", sans-serif;
    line-height: 26px;
    display: block;
    vertical-align: top;
    text-decoration: none;
    color: #000;
    -webkit-font-smoothing: antialiased; }

a:active {
    color: #1a1a1a;
    outline: none; }
a:focus {
    color: #000; }
a:hover {
    text-decoration: none; }



