.top_menu_link[href="/mycollection"] {
    font-weight: bold;
    --b: 1px;
    --s: .45em;
    --color: #4D4D4D;
    padding: calc(.1em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p) / calc(100% - var(--b) - 2* var(--_p)) calc(100% - var(--b) - 2* var(--_p));
    transition: .6s cubic-bezier(0.25, 1, 0.5, 1), color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 1111;
}


.top_menu_link[href="/mycollection"]:hover {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}


.top_menu_link[href="/mycollection"]::before,
.top_menu_link[href="/mycollection"]::after {
    all: unset !important;
}

button:disabled {
    pointer-events: none;
    background: silver !important;
    border: 2px solid #bfc0bf;
    box-shadow: 0px 0px 10px #a9a9a9;
    padding: 16px 95px;
    border-radius: 24px;
}


.googleads_left {
    width: 200px;
}



.main__list_cursor {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.main__list_cursor .main__btns {
    display: flex;
}

.main__list_cursor .main__item {
    margin: 70px !important;
    position: relative;
    background-color: #fff;
    padding: 8px 10px 10px 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
    margin-bottom: 7px;
    width: -webkit-calc(25% - 10px);
    width: calc(40% - 10px);
    height: 407px;
    position: relative;
}

.main__list_cursor .main__item-img {
    height: 180px;
}

@media only screen and (max-width: 1000px) {
    .main__list_cursor .main__item-img {
        height: 150px;
    }
}

@media only screen and (max-width: 770px) {
    .main__list_cursor .main__item {
        width: 100%;
    }
}


.loader {
    display: none !important;
}

#show_more {
    display: none !important;
}



.tabs_menu form {
}

#lang_selector {
    display: none;
}



button:disabled::after {
    pointer-events: none;
    background: silver !important;
}

button:disabled::before {
    pointer-events: none;
    background: silver !important;
}

.newbtn {
    line-height: 1;
}

.addbtn {
    display: none;
}


.main__item:hover {
    box-shadow: 0px 0px 7px #989898;
}




#menu_top {
    border-radius: 3px 0px 0px 3px;
    /* font-family: "Noto Color Emoji"; */
    font-family: "Noto Color Emoji";
}


.main__list nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin: 40px;
}


#adkep * {
    border: 0px;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
}

#adkep img {
    width: 100%;
    padding: 4px;
}

.adBanner {
    background-color: transparent;
    height: 1px;
    width: 1px;
}

.adskeeper-holder {
    position: relative !important;
    text-align: center;
    vertical-align: top !important;
    margin: 0 auto;
    border-style: solid;
    border-width: 0;
    background-color: #fff !important;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 100% !important;
    transition: none !important;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.mctitle a {
    font-size: 14px !important;
}

.adskeeper-item {
    background: none repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    zoom: 1;
    display: inline;
    padding: 0 !important;
    border-style: solid;
    border-color: #bfbfbf;
    border-width: 1px;
    width: 32.33%;
    max-width: 32.33% !important;
    margin-right: 0 !important;
    box-sizing: border-box;
    margin: 5px 0.5%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.adskeeper-item>a {
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    font-style: normal;
    text-decoration: none;
    color: #3f3f3f;
    font-family: Roboto;
}

.adskeeper-item>a:hover {
    text-decoration: underline;
    color: #3f3f3f;
}

.adskeeper-item img {
    margin-bottom: 3px;
}

.adskeeper-item {
    height: auto;
}

span.adskeeper-label {
    color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.mgline img {
    border-radius: 2px;
}

.mghead {
    display: none !important;
}

@media only screen and (min-width: 1300px) {
    .arrow_top {
        position: absolute;
        top: 0;
        left: calc(100% - 128px);
    }
}

/* Customize the label (the container) */
.checkbox_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.maybelater {
    margin-top: 9px;
    color: #717171;
    margin-bottom: 13px;
}

.maybelater:hover {
    margin-top: 9px;
    color: #0ac672;
    margin-bottom: 13px;
    cursor: pointer;
    text-decoration: underline;
}

#star_img_container {
    cursor: pointer;
}

.star_main_title {
    font-size: 36px;
    margin-bottom: 30px;
}

.star_title {
    font-size: 24px;
}

.star_close:hover {
    position: absolute;
    background-image: url(https://cursor.style/images/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    top: 14px;
    left: 19px;
}

.star_close {
    position: absolute;
    background-image: url(https://cursor.style/images/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    top: 19px;
    left: 24px;
    transition: 0.3s;
    cursor: pointer;
}

.dontshow {
    position: absolute;
    margin-right: 10%;
    right: -9px;
    bottom: 50px;
}

.star_container {
    flex-direction: column;
    height: 400px;
    width: 600px;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
}



.newblock {
    display: none;
    width: 100%;
    border-radius: 4px;
}

.googleads {
    width: 98%;
    margin-bottom: 10px;
}


.collection_top_text h1 {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
}








.div_ar_p h2 {
    font-size: 16px;
}

.random_cat_text h2 {
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
}

.h1list h1 {
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
    padding-left: 10px;
}

.h1list {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid silver;
}

.collection-page__info h1 {
    line-height: 15px;
}

@media only screen and (max-width: 1300px) {
    .arrow_top {
        display: none;
    }
}

.textarea_f {
    resize: none;
}

.cat_img {
    float: left;
    margin: -5px 10px 10px 10px;
    max-width: 320px;
}

.success_after_install {
    width: 100%;
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.success_after_install_img {
    margin: 10px;
}

.success_after_install_bottom_text_container {
    display: flex;
}

.success_after_install_bottom_text {
    width: 33.3333%;
    text-align: center;
    line-height: 1.2;
}

.success_after_install_text {
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
}

.temp_img {
    position: fixed;
    z-index: 9999;
    width: 64px;
    height: 64px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0.8;
}

.temp_img.temp_img_animate {
    top: 0 !important;
    left: calc(100% - 64px) !important;
    opacity: 0 !important;
}

.inactive_btn {
    background: silver;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-weight: 300;
    width: -webkit-calc(50% - 8px);
    width: calc(50% - 5px);
    height: 35px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none !important;
    color: white;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.downlink {
    color: black !important;
}

#banner_cur_size {
    visibility: hidden;
    font-size: 13px;
    margin-top: 48px;
}

.container_cat {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container-docs {
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 50px;
    padding: 33px;
}

.container-docs h2 {
    color: #4a8cf5;
    margin-bottom: 16px;
    text-align: center;
}

.container-docs h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}

.container-docs a {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #4a8cf5;
}

.container-docs b {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.container-docs p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    margin-bottom: 15px;
}

.container-docs li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 16px;
    line-height: 21px;
}

.col_100p {
    width: 100%;
    text-align: center;
}

.banner_in_prev {
    cursor: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
}

.banner__prev_cur_img {
    display: none;
    position: fixed;
    width: 85px;
    height: 85px;
    z-index: 1000;
    margin-left: -38px;
    margin-top: -38px;
    pointer-events: none;
}

.arrow_down {
    margin-left: 71px;
    width: 98px;
    margin-top: 11px;
}

.btn_add_prev {
    margin-top: 8px;
    width: 100px;
}

.container_preview {
    width: 490px;
    height: 500px;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    margin-top: -250px;
    margin-left: -245px;
    position: fixed;
    background: #fff;
    z-index: 20;
}

.cursor_preview {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 20;
    background: #000;
}

.c_preview {
    width: 180px;
    height: 180px;
    margin: 15px 0px 15px 36px;
}

.p_preview {
    margin: 15px 36px 15px 0px;
    width: 180px;
    height: 180px;
}

.test_area_preview {
    border: 2px dashed #d0d0d0;
    width: 414px;
    height: 228px;
    margin: 0px 30px 5px 30px;
}

.prev_container {
    display: none;
    opacity: 1;
}



/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#banner_cur_img {
    transform-origin: 0px 0px;
    transform: scale(1.0);
    max-width: 64px !important;
    max-height: 64px !important;
    z-index: 2147483647 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.banner_cur {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    z-index: 2147483640 !important;
    position: absolute;
    margin-left: -0.5px;
    margin-top: -0.5px;
    pointer-events: none;
}

.banner_in {
    cursor: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 33px;
}

.not_found {
    left: 50%;
    margin-left: calc(50% - 400px);
    background: #fff;
    width: 800px;
    padding-top: 18px;
    text-align: center;
    height: 63px;
    border-radius: 4px;
    font-size: 20px;
    vertical-align: middle;
}

.material-icons-round {
    vertical-align: middle !important;
    top: 38px;
    margin-top: -2px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.more {
    cursor: pointer;
    color: #666;
    font: normal 16px "Product Sans", sans-serif;
    width: 212px;
    height: 59px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: white;
    background-image: url(/images/more.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 32px 14px;
    padding: 19px 0px 0px 73px;
    margin: 24px auto 28px auto;
}

.more:hover {
    color: #4a8cf5;
}



h2 {
    margin: 0px;
}

h6 {
    margin: 0px;
    color: #777;
}





.tabs .selector {
    height: 46.4px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-radius: 4px;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    background: #4a8cf5;
    background: -moz-linear-gradient(45deg, #4a8cf5 0%, #5d57f4 100%);
    background: -webkit-linear-gradient(45deg, #4a8cf5 0%, #5d57f4 100%);
    background: linear-gradient(45deg, #4a8cf5 0%, #5d57f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a8cf5', endColorstr='#5d57f4', GradientType=1);
}







.collection__item_cat {
    padding: 15px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    width: -webkit-calc(33.333% - 10px);
    width: calc(50% - 10px);
}

.collection__item_cat_title {
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
}

.main__item-img_cat {
    cursor: pointer;
    height: 85px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    margin-bottom: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main__item_cat {
    background-color: #fff;
    padding: 12px 17px;
    border: 1px solid #d3d4d5;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    margin-right: 11px;
    margin-bottom: 11px;
    width: -webkit-calc(25% - 11px);
    width: calc(25% - 11px);
}

.hvr-shutter-out-horizontal {
    margin-left: 5px;
    border: 0;
    background: -moz-linear-gradient(45deg, #4a8cf5 0%, #5d57f4 100%);
    background: -webkit-linear-gradient(45deg, #4a8cf5 0%, #5d57f4 100%);
    background: linear-gradient(45deg, #4a8cf5 0%, #5d57f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a8cf5', endColorstr='#5d57f4', GradientType=1);
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-weight: 300;
    width: -webkit-calc(45% - 8px);
    width: calc(45% - 10px);
    height: 33px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important;
    color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    text-decoration: none !important;
    content: "";
    position: absolute;
    border-radius: 3px;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3e75e7;
    background: -moz-linear-gradient(45deg, #3e75e7 0%, #4d48e5 100%);
    background: -webkit-linear-gradient(45deg, #3e75e7 0%, #4d48e5 100%);
    background: linear-gradient(45deg, #3e75e7 0%, #4d48e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e75e7', endColorstr='#4d48e5', GradientType=1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:active,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:hover {
    color: #fff
}

.hvr-shutter-out-horizontal:active:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

/*GREEN BUTTON*/
.hvr-shutter-out-horizontal-g {
    background: -moz-linear-gradient(45deg, #29d186 0%, #00c26b 100%);
    background: -webkit-linear-gradient(45deg, #29d186 0%, #00c26b 100%);
    background: linear-gradient(45deg, #29d186 0%, #00c26b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29d186', endColorstr='#00c26b', GradientType=1);
    color: #fff;
    text-align: center;
    /*    line-height: 33px;*/
    font-weight: 300;
    width: -webkit-calc(45% - 8px);
    width: calc(45% - 10px);
    height: 35px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important;
    color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    border: 2px solid #caffcd;
    box-shadow: 0px 0px 10px #caffcd;
}

.hvr-shutter-out-horizontal-g:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    text-decoration: none !important;
    content: "";
    position: absolute;
    border-radius: 3px;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00c37c;
    background: -moz-linear-gradient(45deg, #00c37c 0%, #00ae57 100%);
    background: -webkit-linear-gradient(45deg, #00c37c 0%, #00ae57 100%);
    background: linear-gradient(45deg, #00c37c 0%, #00ae57 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c37c', endColorstr='#00ae57', GradientType=1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal-g:active,
.hvr-shutter-out-horizontal-g:focus,
.hvr-shutter-out-horizontal-g:hover {
    color: #fff
}

.hvr-shutter-out-horizontal-g:active:before,
.hvr-shutter-out-horizontal-g:focus:before,
.hvr-shutter-out-horizontal-g:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}


/*SILVER BUTTON*/

.hvr-shutter-out-horizontal-s {
    background: -moz-linear-gradient(45deg, #afafaf 0%, #a8a8a8 100%);
    background: -webkit-linear-gradient(45deg, #afafaf 0%, #a8a8a8 100%);
    background: linear-gradient(45deg, #afafaf 0%, #a8a8a8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afafaf', endColorstr='#a8a8a8', GradientType=1);
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-weight: 300;
    width: -webkit-calc(45% - 8px);
    width: calc(45% - 5px);
    height: 35px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important;
    color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}


.hvr-shutter-out-horizontal-s:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    text-decoration: none !important;
    content: "";
    position: absolute;
    border-radius: 3px;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #a0a0a0;
    background: -moz-linear-gradient(45deg, #a0a0a0 0%, #969696 100%);
    background: -webkit-linear-gradient(45deg, #a0a0a0 0%, #969696 100%);
    background: linear-gradient(45deg, #a0a0a0 0%, #969696 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0a0a0', endColorstr='#969696', GradientType=1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal-s:active,
.hvr-shutter-out-horizontal-s:focus,
.hvr-shutter-out-horizontal-s:hover {
    color: #fff
}

.hvr-shutter-out-horizontal-s:active:before,
.hvr-shutter-out-horizontal-s:focus:before,
.hvr-shutter-out-horizontal-s:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}




.greenBtn {
    cursor: pointer;
    background: #00c26b;
}

.greenBtn:before {
    background: #27b664;
}

.btn.btn--blue:before {
    background: #BEBEBE;
}




.nav ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav li {
    display: inline-block;
}

.nav li a {
    padding: 10px;
    display: block;
    text-decoration: none;

    color: #4D4D4D;
    position: relative;
}

.nav li a:after {
    content: '';
    width: 0%;
    transition: all 0.3s ease;
    left: 50%;
}

.nav li a:before {
    content: '';
    width: 0%;
    transition: all 0.3s ease;
    left: 50%;
}

.nav a.active {
    font-weight: 500;
    color: #4a8cf5;
}

.nav li a:hover:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    background: #4a8cf5;
    height: 3px;
    width: 50%;
}

.nav li a:hover:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #4a8cf5;
    height: 3px;
    width: 50%;
}



.hvr-sweep-to-bottom:before {
    content: "";
    border-radius: 3px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0a598b;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:before {
    content: "";
    border-radius: 3px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 4a8cf5;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -0.9rem;
    margin-right: -0.9rem;
}

.large-12,
.medium-12,
.small-12,
.large-9,
.medium-9,
.small-9,
.large-8,
.medium-8,
.small-8,
.large-7,
.large-6,
.medium-6,
.small-6,
.large-5,
.large-4,
.medium-4,
.small-4,
.large-3,
.medium-3,
.small-3,
.large-2,
.medium-2,
.small-2,
.large-1,
.medium-1,
.small-1 {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

.large-12,
.medium-12,
.small-12 {
    width: 100%;
}

.large-9,
.medium-9,
.small-9 {
    width: 75%;
}

.large-8,
.medium-8,
.small-8 {
    width: 66.66667%;
}

.large-7 {
    width: 58.33333%;
}

.large-6,
.medium-6,
.small-6 {
    width: 50%;
}

.large-5 {
    width: 41.66667%;
}

.large-4,
.medium-4,
.small-4 {
    width: 33.33333%;
}

.large-3,
.medium-3,
.small-3 {
    width: 25%;
}

.large-2,
.medium-2,
.small-2 {
    width: 16.66667%;
}

.large-1,
.medium-1,
.small-1 {
    width: 8.33333%;
}

@media (max-width: 767px) {
    .large-0 {
        width: 100%;
    }

    .large-1,
    .medium-1,
    .small-1 {
        width: 100%;
    }

    .large-2,
    .medium-2,
    .small-2 {
        width: 100%;
    }

    .large-3,
    .medium-3,
    .small-3 {
        width: 100%;
    }

    .large-4,
    .medium-4,
    .small-4 {
        width: 100%;
    }

    .large-5 {
        width: 100%;
    }

    .large-6,
    .medium-6,
    .small-6 {
        width: 100%;
    }

    .large-7 {
        width: 100%;
    }

    .large-8,
    .medium-8,
    .small-8 {
        width: 100%;
    }

    .large-9,
    .medium-9,
    .small-9 {
        width: 100%;
    }

    .large-10 {
        width: 100%;
    }

    .large-11 {
        width: 100%;
    }

    .large-12,
    .medium-12,
    .small-12 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .medium-0 {
        width: 100%;
    }

    .medium-1 {
        width: 100%;
    }

    .medium-2 {
        width: 100%;
    }

    .medium-3 {
        width: 100%;
    }

    .medium-4 {
        width: 100%;
    }

    .medium-5 {
        width: 100%;
    }

    .medium-6 {
        width: 100%;
    }

    .medium-7 {
        width: 100%;
    }

    .medium-8 {
        width: 100%;
    }

    .medium-9 {
        width: 100%;
    }

    .medium-10 {
        width: 100%;
    }

    .medium-11 {
        width: 100%;
    }

    .medium-12 {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .large-6.middle-12,
    .middle-12.medium-6,
    .middle-12.small-6 {
        width: 50%;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body {
    font-weight: 300;
    font-family: "Product Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #1a1a1a;
    background: url(/images/noise.png) repeat;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -webkit-overflow-scrolling: touch;
}

body.hidden {
    overflow: hidden;
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
        letter-spacing: -0.1px;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    font: normal 16px "Product Sans", sans-serif;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

a:active {
    color: #1a1a1a;
    outline: none;
}

a:focus {
    color: #000;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

@media (max-width: 768px) {
    p {
        font-size: 16px;
        line-height: 130%;
    }
}

input[type="checkbox"] {
    display: none;
}

input::placeholder {
    color: #afb0b2;
}

::-webkit-input-placeholder {
    color: #e6e6e6;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

:-moz-placeholder {
    color: #e6e6e6;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

::-moz-placeholder {
    color: #e6e6e6;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

:-ms-input-placeholder {
    color: #e6e6e6;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

h1,
h2,
h3,
h4 {
    margin: 0px;
    font-family: 'Product Sans', sans-serif;
    line-height: 100%;
    color: #333333;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
        line-height: 43px;
    }
}

h2 {
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 5px;
}

h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 7px;
}

@media (max-width: 768px) {
    h3 {
        font-size: 24px;
        line-height: 29px;
    }
}

h4 {
    font-weight: bold;
    font-size: 27px;
    line-height: 35px;
    color: #221177;
    font-family: "Product Sans", sans-serif;
}



ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.wrap {
    overflow: hidden;
}

.mbr {
    display: none;
}

.content {
    overflow: hidden;
    position: relative;
    z-index: 200;
}

.crumb a {
    margin-right: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

.crumb a:last-child:after {
    display: none;
}

.crumb a:after {
    content: " /";
}

.collection__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -11px;
}

.collection__item {
    padding: 15px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    width: -webkit-calc(33.333% - 10px);
    width: calc(50% - 10px);
}

.collection__item p {
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: 300;
}

.collection__item img {
    margin-bottom: 10px;
}

.collection__description {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.col_descr {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.blog__links {
    margin-bottom: 26px;
    text-align: center;
}

.blog__links a {
    margin-left: 6px;
    margin-right: 6px;
    font-weight: normal;
    color: #808080;
}

.blog__links a.active {
    color: #333333;
}


.socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 193px;
}

.socials a {
    width: 34px;
    height: 34px;
    background-image: url(/images/socials.jpg);
    -webkit-background-size: auto 34px;
    background-size: auto 34px;
}

.socials a.vk {
    background-position: -2px 0;
}

.socials a.fb {
    background-position: -42px 0;
}

.socials a.tw {
    background-position: -82px 0;
}

.socials a.ok {
    background-position: -122px 0;
}

.socials a.soc {
    background-position: -162px 0;
}

@media (max-width: 980px) {
    .collection__item {
        width: -webkit-calc(50% - 11px);
        width: calc(50% - 11px);
    }

    .collection-page__pic {
        display: none;
    }
}

@media (max-width: 680px) {
    .collection__list {
        margin-right: 0px;
    }

    .collection__item {
        width: -webkit-calc(100%);
        width: calc(100%);
        margin-right: 0px;
    }

    .collection-page__links {
        display: block;
    }

    .collection-page__btn {
        margin-bottom: 30px;
    }
}




.close {
    position: absolute;
    right: 20px;
    top: 22px;
    width: 20px;
    height: 20px;
}

.close:after,
.close:before {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #222;
    content: "";
}

.close:after {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
}

.close:before {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
}

.install {
    margin-bottom: 15px;
}

.container_install {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.install__right {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    width: 250px;
}

.success__more__btn {
    width: 100%;
    max-width: 210px;
    height: 45px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 44px;
    font-weight: 300;
    margin-top: 12px;
}

.install__right h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}

.install__left {
    width: calc(100% - 260px);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.install__rounded_img {
    margin-bottom: 5px;
    border-radius: 4px;
    border: solid 1px #c9c9c9;
    overflow: hidden;
}

.install p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    margin-bottom: 15px;
}

.install__left h2 {
    color: #4a8cf5;
    margin-bottom: 16px;
    margin-top: -10px;
    text-align: center;
}

.install__left a {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #4a8cf5;
}

.install b {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}



.install-panel__title {
    /* font-size: 20px; */
    /* font-weight: normal; */
    /* margin-bottom: 7px; */
    /* color: #000; */
}

.install-panel__description {
    /* font-size: 18px; */
    /* font-weight: normal; */
    /* margin-top: -5px; */
    /* margin-bottom: 20px; */
}

.install-panel__trigger {
    font-size: 18px;
    font-weight: normal;
    color: #4a8cf5;
}

.install-panel__btn {
    width: 100%;
    max-width: 220px;
    height: 60px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #00c26b;
    color: #fff;
    font-size: 28px;
    text-align: center;
    line-height: 58px;
    font-weight: 300;
}

.install-panel__btn:visited {
    color: #fff;
}


.banner__tab {
    background-color: #FEAA32;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-border-radius: 6px;
    border-radius: 4px;
    overflow: hidden;
    padding: 14px 40px 14px 0;
    height: 354px;
    position: relative;
    width: 100%;
}

.banner__pic {
    width: 355px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.banner__text {
    width: -webkit-calc(100% - 354px);
    width: calc(100% - 354px);
    background-color: #fff;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-align: center;

    position: relative;
}

.banner__text:after {
    cursor: none;
    pointer-events: none;
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: -webkit-calc(100% - 25px);
    width: calc(100% - 25px);
    height: -webkit-calc(100% - 25px);
    height: calc(100% - 25px);
    border: 2px dashed #AFAFAF;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.banner__tab_1 .banner__text {
    background: #fff url(/images/banner/banner__bg.svg) no-repeat center 135px/160px auto;
}

.banner__title {
    font-family: 'Comix Loud Cyr';
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 19px;
    color: #00c26b;
}

.banner__title_2 {
    font-family: 'Comix Loud Cyr';
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #4a8cf5;
}

.banner__description {
    font-size: 21px;
    font-weight: 400;
    color: #4D4D4D;
    line-height: 25px;
}

.banner__btn {
    position: absolute;
    bottom: 28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 177px;
    height: 50px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #00c26b;
    color: #fff;
    text-align: center;
    line-height: 48px;
    font-weight: 300;
    font-size: 22px;
    z-index: 200;
}

.banner__btn:visited {
    color: #fff;
}

.banner__tab_2 {
    display: none;
}

@media (max-width: 980px) {
    .main__item {
        /* width: -webkit-calc(33% - 11px); */
        /* width: calc(33% - 11px); */
    }

    .btn__see,
    .btn__add {
        font-size: 16px;
    }

    .banner__pic {
        display: none;
    }

    .banner__text {
        width: 100%;
    }

    .banner__tab {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .main__item {
        /* width: -webkit-calc(50% - 11px); */
        /* width: calc(50% - 11px); */
    }
}

@media (max-width: 480px) {
    .main__list {
        margin-right: 0px;
    }

    .main__item {
        width: 100%;
        margin-right: 0px;
    }

    .main__btns {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .btn.btn--blue {
        width: 100%;
        margin-bottom: 10px;
    }

    .banner__title {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .banner__description {
        font-size: 9px;
        line-height: 26px;
    }

    .banner__description br {
        display: none;
    }
}

.main__title {
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    color: #4D4D4D;
}

.star {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}





.main__cat-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 0px 22px 0px 22px;
}

.btn__add {
    cursor: pointer;
    text-decoration: none !important;
    font-size: 16px;
    width: -webkit-calc(50% - 5px);
    width: calc(50% - 5px);
    height: 35px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #00c26b;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-weight: 300;
}

.btn__add:visited {
    color: #fff;
    text-decoration: none;
}

.btn__add.active {
    background-color: #e6e6e6;
    border: 1px solid #d3d3d3;
    color: #333;
}

.btn__add:hover {
    text-decoration: none;
    color: white;
}


.btn__silver {
    text-decoration: none !important;
    font-size: 16px;
    width: -webkit-calc(50% - 5px);
    width: calc(50% - 5px);
    height: 35px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #8e9492;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-weight: 300;
}

.btn__silver:visited {
    color: #fff;
    text-decoration: none;
}

.btn__silver.active {
    background-color: #e6e6e6;
    border: 1px solid #d3d3d3;
    color: #333;
}

.btn__silver:hover {
    text-decoration: none;
    color: white;
}

.btn__see {
    font-size: 16px;
    width: -webkit-calc(50% - 8px);
    width: calc(50% - 8px);
    height: 35px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #4a8cf5;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-weight: 300;
}

.btn__see:visited {
    color: #fff;
}

.btn.btn--blue {
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px);
    height: 39px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #4a4ceb;
    color: white !important;
    font-size: 17px;
    text-align: center;
    line-height: 37px;
    font-weight: 300;
}

.btn.btn--blue:visited {
    color: #4D4D4D;
}

.main__group {
    margin-bottom: 45px;
}

@media (max-width: 980px) {
    .gads {
        width: calc(67% + 5px);
    }
    .btn__see,
    .btn__add {
        font-size: 16px;
    }
}



@media (max-width: 480px) {
    .gads {
        width: 100%;
        padding: 10px;
    }

    .main__list {
        margin-right: 0px;
    }

    .main__item {
        width: 100%;
        margin-right: 0px;
    }

    .main__btns {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .btn.btn--blue {
        width: 100%;
        margin-bottom: 10px;
    }
}

.trc_rbox_container a {
    font: normal 16px "Product Sans", sans-serif;
    line-height: 26px;
    display: block;
    vertical-align: top;
    text-decoration: none;
    color: #000;
    -webkit-font-smoothing: antialiased;
}


