@font-face {
    font-display: swap;
    font-family: 'Comix Loud Cyr';
    src: url("16143.woff") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: 'Product Sans';
    src: url('ProductSans-Medium.woff2') format('woff2'),
        url('ProductSans-Medium.woff') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Product Sans';
    src: url('ProductSans-Regular.woff2') format('woff2'),
        url('ProductSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Product Sans';
    src: url('ProductSans-Light.woff2') format('woff2'),
        url('ProductSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

